* {
    margin: 0;
    padding: 0;
}

body   {
    margin: 0px 250px;
    font-family: "Roboto" , sans-serif;
    background-color: rgb(6, 6, 31);
    
}

header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    background-color: #1f2937;
    padding: 20px  120px;
}

.header-img {
  margin-top: 90px;
}


.links {
    display: flex;
    gap: 50px;
        
}

.links a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    padding: 50px 100px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    align-items: flex-start;
    
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 8px;

}

.hero p {
    font-size: 18px;
    color: #e5e7e5;
    margin: 8px;
}

button {
    background-color: #3882f6;
    border: transparent;
    border-radius: 10px;
    margin: 24px 8px;
    padding: 8px 24px;
    color: white;
    font-size: 20px;
    font-weight: 900;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 50px 100px;
}

.info-title h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}



.info-content {
    display: flex;
    justify-content: space- space-between;
    gap: 50px;
    margin-top: 50px;
    
}

.info-content img {
    height: 150px;
    width: 150px;
    border: #3882f6 solid 4px;
    border-radius: 10px;
    padding: 10px;
    
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    text-align: center; 
    gap: 8px;   
    color: gray;
    font-weight: 500;
}

.quote {
    background-color: #e5e7eb;
   
    padding: 50px;
}

.quote p {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    max-width: 800px;
    width: 100%;
    text-align: left;
    margin: 0 auto;
    
}

.quote h3 {
    font-size: 24px;
    text-align: right;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

